.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/grid/tiles.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$purple: #8c3dd1;

$primary: $purple;